{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
<legend> Types de contrat</legend>
<a href="{{ path('grhtype_new') }}">
    <button class="btn btn-primary"> <i class="icon-white icon-plus"> </i> Ajouter un type</button>
</a>
<br/>
<br/>
<table class="table table-bordered records_list">
    <thead>
        <tr>
            <th>Type</th>
            <th>Duree</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.type }}</td>
            <td>{{ entity.duree }}</td>
            <td>

                <a href="{{ path('grhtype_show', { 'id': entity.id }) }}"> Afficher </a>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}
