<img src='http://prowebgroupe.com/intra_sy/web/uploads/anniv.gif'>
<h1>Joyeux anniversaire {{ prenom }}</h1>
<div><b>Pour ton anniversaire que cette journée s’épanouisse et soit porteuse d’heureux événements. Ce message apporte mille bons souhaits pour des jours heureux. Joyeux Anniversaire !</b></div>