{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
<legend> D&eacute;tails type contrat</legend>

    <table class="table table-striped record_properties">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ entity.duree }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('grhtype_edit', { 'id': entity.id }) }}">
            <button class="btn btn-warning"> <i class="icon-white icon-pencil"></i>Editer </button>
        </a>
    </li>
    <li>
        {% include 'LooninsGrhBundle:GrhType:delete.html.twig' %}
    </li>
</ul>
{% endblock %}
