{% extends 'LooninsIncidentBundle::layout.html.twig' %}


{% block body -%}
    <h1>Nouveau type Incident  </h1>

	{{ form_start(form) }}
	
		{{ form_widget(form) }}
		
	{{ form_end(form) }}

    <a href="{{ path('typeincident') }}">
        Liste des types incidents
    </a>

{% endblock %}
