
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <!--
    Modified from the Debian original for Ubuntu
    Last updated: 2014-03-19
    See: https://launchpad.net/bugs/1288690
  -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bulletin de notes</title>

    <style type="text/css">
      
      table{
        border: 1px solid black;
        width: 100%;
        max-width: 100%;
        /*border-spacing: 0;*/
        border-collapse: collapse;
      }

      td{
          border: 1px solid black;
          padding: 10px;
      }

      .large{
        width: 60%;
      }

      .medium{
        width: 20%;
      }

      .small{
        width: 10%;
      }

      .vide{
        border: none;
      }

      .center-text{
        text-align: center;
      }
      .left{
        text-align: left;
      }


      .mlarge{
        width: 40%;
      }

      .decision{
        position: relative;
        left: 40%;
        width: 60%;
      }

      .left-div{
        position: relative;
        left: 30px;
        /*display: inline-block;*/
      }
      
      .right-div{
        position: absolute;
        right: 10px;
        /*display: inline-block;*/
      }

      .clear{
        clear: both;
      }

      .logo{
        width: 80px;
      }

      .gras{
        font-weight: bold;
      }

    </style>

  </head>
  <body>
      <div class="left-div">
        <img class="logo" src="{{ app.request.getSchemeAndHttpHost() }}/intra_sy/web/uploads/merry_christmas.jpg">
        <span class="clear"></span>
      </div>    
      <div class="right-div">
        <span class="gras">COMPLEXE SCOLAIRE NOTRE</span><br>
          <span class="gras">DAME DES APOTRES DE</span>          
          <br>
          <br>
          Bulletin Scolaire<br>
          Année académique : 2017 -2018
          <br>
          <br>
          <br>
      </div>    
      <br style="clear: both;">
      <br style="clear: both;">
      <table style="clear: both;">
        <tr>
            <td class="left large">KOMLAN Adjoavi S.</td>
            <td class="center-text medium">Classe : 1ere S 1</td>
            <td class="center-text medium">Effectif : 35</td>
        </tr>
      </table>
      <br>
      <table style="clear: both;">
        <tr>
            <td class="large left">Matieres</td>
            <td class="small center-text">Coef</td>
            <td class="medium center-text">DEVOIR</td>
            <td class="small center-text">COMPO.</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">4</td>
            <td class="medium center-text">70</td>
            <td class="small center-text">70</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">36</td>
            <td class="small center-text">36</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">1</td>
            <td class="medium center-text">12</td>
            <td class="small center-text">12</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">38</td>
            <td class="small center-text">38</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">0.5</td>
            <td class="medium center-text">7</td>
            <td class="small center-text">7</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">3</td>
            <td class="medium center-text">50</td>
            <td class="small center-text">50</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">32</td>
            <td class="small center-text">32</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">33</td>
            <td class="small center-text">33</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">17</td>
            <td class="small center-text">17</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">15</td>
            <td class="small center-text">15</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">25</td>
            <td class="small center-text">25</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">12</td>
            <td class="small center-text">12</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">12</td>
            <td class="small center-text">12</td>
        </tr>
        <tr>
            <td class="large left"></td>
            <td class="small center-text">2</td>
            <td class="medium center-text">12</td>
            <td class="small center-text">12</td>
        </tr>
      </table>
      <br>

      <table class="decision">
        <tr>
          <td class="center-text mlarge">Moy.&nbsp;: 12.5</td>
          <td class="center-text mlarge">Moy. classe: 15</td>
          <td class="center-text medium">Rang: 10</td>
        </tr>
        <tr>
          <td colspan="3">
            <span class="left">DECISION DU CONSEIL DE CLASSE :</span><br>
            <span class="center-text">PASSE EN TLe</span>
          </td>
        </tr>
      </table>

  </body>
</html>

