{% extends 'LooninsSuiviBundle::layout.html.twig' %}


{% block legend %}
    Index des statistiques 
        <button style="float: right;margin-left: 5px;" class="btn btn-primary" id="open-stat" >
            Historiques des demandes d'explication
        </button>
         <br style="clear:both;">
{% endblock %}


{% block stylesheets %}
    {{ parent()}}
   
{% endblock %}

{% block body %}

    <!--div class="form-row" style="display: inline;float: right;">
        <select id = "selection-action">
            <option value="0"> Action sur la selection</option>
            <option value="1"> Renvoyer les demandes d'explications </option>
            <option value="2">Marquer comme répondu</option>
        </select>
    </div-->

    <br style="clear:both;" />

    <style type="text/css">
        
        td{
            vertical-align: middle;
        }
    </style>
    <table class="table table-striped  table-hover" >
        <thead class="alert alert-info">
            <tr style="height:15px;">
                <th style="padding:0px;vertical-align:middle;text-align: center;">Date d'envoi </th>
                <th style="padding:0px;vertical-align:middle;text-align: center;">Animatrice  </th>
                <th style="padding:0px;vertical-align:middle;text-align: center;">Email </th>
            </tr>
        </thead>

        <tbody>
            {% for envoiDE in envoiDEs %}
            <tr>
                <td style="padding:0px;vertical-align:middle">{{ envoiDE.date|date('Y-m-d')}}</td>
                <td style="padding:0px;vertical-align:middle;">{{ envoiDE.stat.animatrice.employe}}</td>
                <td style="padding:0px;vertical-align:middle;">{{ envoiDE.stat.animatrice.employe.email}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>






    <style type="text/css">

        select, .btn-success {
            height:25px;
        }

        #form_debut_day{
            width: 40px;
            height: 25px;
            padding: 0px;
        }

        #form_debut_month{
            width: 40px;
            padding:0px;
            height: 25px;
        }
        #form_debut_year{
            width: 55px;
            padding:0px;
            height: 25px;
        }

        #form_fin_year{
            width: 55px;
            padding:0px;
            height: 25px;
        }

        #form_fin_day{
            width: 40px;
            height: 25px;
            padding: 0px;
        }

        #form_fin_month{
            width: 40px;
            padding:0px;
            height: 25px;
        }

    </style>
    
    
{% endblock %}
