{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
    <h1>Type Fiche Salarie : Modification</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('grhtypefiche') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
