{% extends 'LooninsGrhBundle::layout.html.twig' %}


{% block body -%}
    <h1>Type Fiche Salarie : Enregistrement</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('grhtypefiche') }}">
            Liste complete des types de fiche
        </a>
    </li>
</ul>
{% endblock %}
