<form action="{{ path('grhdepartement_delete', {'id':entity.id} ) }}" method="POST">
            {{ form_widget(delete_form.submit, {'attr':{'class':'deleter btn btn-danger'} })}}
            {{ form_rest(delete_form) }}
</form>