{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
<legend>Liste des d&eacute;partements</legend>
<a href="{{ path('grhdepartement_new') }}">
    <button class="btn btn-primary"> <i class="icon-white icon-plus"> </i> Ajouter un d&eacute;partement</button>
</a>
<br/>
<br/>
<table class="table table-bordered records_list">
    <thead>
        <tr>
            <th> Departement </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.departement }}</td>
            <td>
                
                <a href="{{ path('grhdepartement_show', { 'id': entity.id }) }}"> <i class="icon icon-eye-open"> </i>Afficher </a>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    {% endblock %}
